/* SECCION PC ---------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1000px) {

.MainFavoritesPortal {

 width: 100%;
 min-height: 90vh;
 /* background-color: red; */

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;

}

.MainFavoritesTittleContainer {

 width: 95%;
 height: 17.5vh;

 /* background-color: blue; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}

.MainTextFavorites {

 width: 85%;
 height: 90%;

 /* background-color: green; */

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

}

.FirstTextMainFavorites {

 width: 100%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;

}

.FavoriteMainLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 50px;

 cursor: default;
 margin-right: 5px;

}

.FavoritesTittle {

 font-family: "sofia sans";
 font-size: 45px;
 font-weight: 400;
 color:#1b0424;

  cursor: default;


}

.SecondTextMainFavorits {

  font-family: "sofia sans";
 font-size: 25px;
 font-weight: 400;
 color:rgb(27, 4, 36, 0.9);

 height: fit-content;
 width: 100%;

 /* background-color: yellow; */

 margin-left: 5px;
 margin-top: 0.5vh;

 cursor: default;

}


  .MainActionButtonFavorites {

    height: 7.5vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

  }

  .ButtonMainFavorites {

    height: 100%;
    width: 100%;

    font-family: "Sofia Sans", Arial;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    color: #1b0424;
    border: 2px solid #1b0424;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;

box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    cursor: pointer;

  }

  .ButtonMainFavorites:hover {

    background-color: rgb(27, 4, 36, 0.8);
    animation: HoverAnimnMainFavoriteButton 0.5s forwards;

  }

  @keyframes HoverAnimnMainFavoriteButton {

    0% {
      background-color: white;
      color: #1b0424;

    }

    100% {
      background-color: #1b0424;
      color: white;
      border: none;
    }

  }

  .MainNoFavorites {

    width: 30vw;
    height: 40vh;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .MainNoFavoritesLogo {

     width: auto;
     height: 60%;

     object-fit: contain;

     /* background-color: blue; */

     display: flex;
     justify-content: center;
     align-items: end;

  }

  .MainNoFavoritesSpan {

    font-family: "sofia sans";
    font-size: 1.5vw;
    font-weight: 500;
    

  }

  .FavoritePostBox {

   width: 95%;
   height: 25vh;

   background-color: white;

   border-radius: 20px;
   overflow: hidden;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.FavoritePostImg {

  width: 22.5%;
  height: 100%;

  object-fit: cover;
  object-position: 50% 50%;

  background-color: gold;

}

.FavoritePostSpanContainer {

 width: 57.5%;
 height: 100%;

 background-color: red;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

 padding-left: 10px;

 gap: 3.5vh;

}

.FavoritePostTittleSpan {

 width: 100%;
 text-align: start;
 height: fit-content;

 font-family: "Sofia Sans", Arial;
 font-weight: 550;
 font-size: 35px;
 color: #1b0424;

 cursor: default;

}

.FavoritePostMainCharacteristics {


    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 17.5px;

    color: #595b5e;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    font-weight: 500;

      cursor: default;

}

.FavoriteKmsInfo,
.FavoriteTransmisionInfo,
.FavoriteEngineInfo {

    width: auto;

    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: red; */
    /* min-width: 180px; */
    width: fit-content;

}

.FavoriteInternInfoFix {

    margin-left: 5px;
    margin-top: 2.5px;

}

.FavoriteCharacteristicLogo {

 font-size: 30px;

}

.FavoritePostPriceAndButtonsContainer {

 width: 20%;
 height: 70%;

 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;

}

.FavoritePostActionButton {

    width: 90%;
    height: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.FavoriteBuyNowButton {

    background-color: #1b0424;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s;

    color: white;
    font-family: "Sofia Sans", Arial;
    font-size: 17.5px;
    font-weight: 600;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

.FavoriteBuyNowButton:hover {
    background-color: #1b0424;
    box-shadow: 0 0 0 5px #cdc9cf;
    color: #fff;
}

.FavoritePostPriceContainer {

 width: 90%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}

.FavoritePostPriceLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 2.75vw;

 cursor: pointer;

}

.FavoritePostPriceLogo:hover {

  transform: scale(0.9);
  color: transparent;
-webkit-text-stroke: 3px #ff3b5c;
}

.FavoritePostPriceTittle {

 font-family: "sofia sans";
 font-size: 2.25vw;
 font-weight: 500;
 color:#1b0424;

  cursor: default;


}

}

/* SECCION TABLET ---------------------------------------------------------------------------------------------------------------------------------------- */ 

@media (min-width: 500px) and (max-width: 999px) {

.MainFavoritesPortal {

 width: 100%;
 min-height: 90vh;
 /* background-color: red; */

 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: flex-start;
 flex-wrap: wrap;

 /* padding: 2.5%; */
 /* gap: 5%; */

}

.MainFavoritesTittleContainer {

 width: 100%;
 height: 17.5vh;

 /* background-color: blue; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

 padding-left: 2.5%;
  padding-right: 2.5%;

}

.MainTextFavorites {

 width: 90%;
 height: 90%;

 /* background-color: green; */

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

}

.FirstTextMainFavorites {

 width: 100%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;

}

.FavoriteMainLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 50px;

 cursor: default;
 margin-right: 5px;

}

.FavoritesTittle {

 font-family: "sofia sans";
 font-size: 45px;
 font-weight: 400;
 color:#1b0424;

  cursor: default;


}

.SecondTextMainFavorits {

  font-family: "sofia sans";
 font-size: 25px;
 font-weight: 400;
 color:rgb(27, 4, 36, 0.9);

 height: fit-content;
 width: 100%;

 /* background-color: yellow; */

 margin-left: 5px;
 margin-top: 0.5vh;

 cursor: default;

}


  .MainActionButtonFavorites {

    height: 7.5vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

  }

  .ButtonMainFavorites {

    height: 100%;
    width: 100%;

    font-family: "Sofia Sans", Arial;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    color: #1b0424;
    border: 2px solid #1b0424;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;

box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    cursor: pointer;

  }

  .ButtonMainFavorites:hover {

    background-color: rgb(27, 4, 36, 0.8);
    animation: HoverAnimnMainFavoriteButton 0.5s forwards;

  }

  @keyframes HoverAnimnMainFavoriteButton {

    0% {
      background-color: white;
      color: #1b0424;

    }

    100% {
      background-color: #1b0424;
      color: white;
      border: none;
    }

  }

  .MainNoFavorites {

    width: 100%;
    height: 40vh;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .MainNoFavoritesLogo {

     width: auto;
     height: 60%;

     object-fit: contain;

     /* background-color: blue; */

     display: flex;
     justify-content: center;
     align-items: end;

  }

  .MainNoFavoritesSpan {

    font-family: "sofia sans";
    font-size: 2.65vw;
    font-weight: 500;
    

  }

    .FavoritePostBox {

   width: 45%;
   height: 60vh;

   background-color: white;

   border-radius: 20px;
   overflow: hidden;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-right: 2.5%;
    margin-left: 2.5%;

}

.FavoritePostImg {

  width: 100%;
  height: 50%;

  object-fit: cover;
  object-position: 50% 50%;

  background-color: gold;

}

.FavoritePostSpanContainer {

 width: 100%;
 height: fit-content;

 /* background-color: red; */

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

 padding-left: 10px;

 gap: 0.5vh;

}

.FavoritePostTittleSpan {

 width: 100%;
 text-align: start;
 height: fit-content;

 font-family: "Sofia Sans", Arial;
 font-weight: 550;
 font-size: 30px;
 color: #1b0424;

 cursor: default;

}

.FavoritePostMainCharacteristics {


    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* gap: 17.5px; */

    color: #595b5e;
    font-family: "Jost", sans-serif;
    font-size: 21px;
    font-weight: 500;

      cursor: default;

}

.FavoriteKmsInfo,
.FavoriteTransmisionInfo,
.FavoriteEngineInfo {

    width: auto;

    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: red; */
    /* min-width: 180px; */
    width: fit-content;

}

.FavoriteInternInfoFix {

    margin-left: 5px;
    margin-top: 2.5px;

}

.FavoriteCharacteristicLogo {

 font-size: 25px;

}

.FavoritePostPriceAndButtonsContainer {

 width: 100%;
 /* height: 20%; */
 flex: 1;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.FavoritePostActionButton {

    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.FavoriteBuyNowButton {

    background-color: #1b0424;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s;

    color: white;
    font-family: "Sofia Sans", Arial;
    font-size: 17.5px;
    font-weight: 600;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

.FavoriteBuyNowButton:hover {
    background-color: #1b0424;
    box-shadow: 0 0 0 5px #cdc9cf;
    color: #fff;
}

.FavoritePostPriceContainer {

 width: 90%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}

.FavoritePostPriceLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 27.5px;

 cursor: pointer;

}

.FavoritePostPriceLogo:hover {

  transform: scale(0.9);
  color: transparent;
-webkit-text-stroke: 3px #ff3b5c;
}

.FavoritePostPriceTittle {

 font-family: "sofia sans";
 font-size: 25px;
 font-weight: 500;
 color:#1b0424;

  cursor: default;


}

}

/* SECCION MOBILE ---------------------------------------------------------------------------------------------------------------------------------------- */ 

@media (max-width: 499px) {

.MainFavoritesPortal {

 width: 100%;
 min-height: 90vh;
 /* background-color: red; */

 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;

}

.MainFavoritesTittleContainer {

 width: 97.5%;
 height: 17.5vh;

 /* background-color: blue; */

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;

 margin-bottom: 15px;

}

.MainTextFavorites {

 width: 90%;
 height: 90%;

 /* background-color: green; */

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

}

.FirstTextMainFavorites {

 width: 100%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;

}

.FavoriteMainLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 11vw;

 cursor: default;
 margin-right: 5px;

}

.FavoritesTittle {

 font-family: "sofia sans";
 font-size: 10vw;
 font-weight: 400;
 color:#1b0424;

  cursor: default;


}

.SecondTextMainFavorits {

  font-family: "sofia sans";
 font-size: 4vw;
 font-weight: 400;
 color:rgb(27, 4, 36, 0.9);

 height: fit-content;
 width: 100%;

 /* background-color: yellow; */

 margin-left: 5px;
 margin-top: 0.5vh;

 cursor: default;

}


  .MainActionButtonFavorites {

    height: 7.5vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

  }

  .ButtonMainFavorites {

    height: 100%;
    width: 100%;

    font-family: "Sofia Sans", Arial;
    font-weight: 400;
    font-size: 20px;
    background-color: white;
    color: #1b0424;
    border: 2px solid #1b0424;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;

box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    cursor: pointer;

  }

  .ButtonMainFavorites:hover {

    background-color: rgb(27, 4, 36, 0.8);
    animation: HoverAnimnMainFavoriteButton 0.5s forwards;

  }

  @keyframes HoverAnimnMainFavoriteButton {

    0% {
      background-color: white;
      color: #1b0424;

    }

    100% {
      background-color: #1b0424;
      color: white;
      border: none;
    }

  }

  .MainNoFavorites {

    width: 100%;
    height: 40vh;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .MainNoFavoritesLogo {

     width: auto;
     height: 60%;

     object-fit: contain;

     /* background-color: blue; */

     display: flex;
     justify-content: center;
     align-items: end;

  }

  .MainNoFavoritesSpan {

    font-family: "sofia sans";
    font-size: 5.25vw;
    font-weight: 500;
    

  }

  
    .FavoritePostBox {

   width: 90%;
   height: 60vh;

   background-color: white;

   border-radius: 20px;
   overflow: hidden;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.FavoritePostImg {

  width: 100%;
  height: 50%;

  object-fit: cover;
  object-position: 50% 50%;

  background-color: gold;

}

.FavoritePostSpanContainer {

 width: 100%;
 height: fit-content;

 /* background-color: red; */

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

 padding-left: 10px;

 gap: 0.5vh;

}

.FavoritePostTittleSpan {

 width: 100%;
 text-align: start;
 height: fit-content;

 font-family: "Sofia Sans", Arial;
 font-weight: 550;
 font-size: 30px;
 color: #1b0424;

 cursor: default;

}

.FavoritePostMainCharacteristics {


    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* gap: 17.5px; */

    color: #595b5e;
    font-family: "Jost", sans-serif;
    font-size: 21px;
    font-weight: 500;

      cursor: default;

}

.FavoriteKmsInfo,
.FavoriteTransmisionInfo,
.FavoriteEngineInfo {

    width: auto;

    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: red; */
    /* min-width: 180px; */
    width: fit-content;

}

.FavoriteInternInfoFix {

    margin-left: 5px;
    margin-top: 2.5px;

}

.FavoriteCharacteristicLogo {

 font-size: 25px;

}

.FavoritePostPriceAndButtonsContainer {

 width: 100%;
 /* height: 20%; */
 flex: 1;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.FavoritePostActionButton {

    width: 90%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.FavoriteBuyNowButton {

    background-color: #1b0424;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s;

    color: white;
    font-family: "Sofia Sans", Arial;
    font-size: 17.5px;
    font-weight: 600;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

.FavoriteBuyNowButton:hover {
    background-color: #1b0424;
    box-shadow: 0 0 0 5px #cdc9cf;
    color: #fff;
}

.FavoritePostPriceContainer {

 width: 90%;
 height: 40%;

 /* background-color: yellow; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}

.FavoritePostPriceLogo {

 font-variation-settings:'FILL' 1;
 color: #1b0424;
 font-size: 27.5px;

 cursor: pointer;

}

.FavoritePostPriceLogo:hover {

  transform: scale(0.9);
  color: transparent;
-webkit-text-stroke: 3px #ff3b5c;
}

.FavoritePostPriceTittle {

 font-family: "sofia sans";
 font-size: 25px;
 font-weight: 500;
 color:#1b0424;

  cursor: default;


}

}

