/* SECCION PC ------------------------------------------------------------- */

@media (min-width: 1000px) {

.MainLoginForgotPass {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}

.BackPickLoginForgotPass {

    grid-column: 2;
    grid-row: 1;

    height: 100%;
    width: 100%;

    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

    overflow: hidden;

}

.LoginPicForgotPass {

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

}

.LoginPanelContainerForgotPass {

    grid-row: 1;
    grid-column: 1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.ForgotInput {

    width: 50%;
    height: 80%;

    /* background-color: blue; */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoForgotPass {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicForgotPass {

    width: 400px;
    height: 100%;

    object-fit: contain;


}

.LogInWelcomeTextForgotPass {

    width: 100%;
    height: 10%;

    /* background-color: white; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.FirstWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

}

.SecondWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

}

.LogInSpanInputForgotPass {

    width: 100%;
    height: 10%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: rgb(238, 232, 232); */


}

.inpuTextForgotPass {

    width: 100%;

    /* background-color: black; */

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 18px;

    padding-left: 5px;
    color: #1b0424;

    cursor: default;

}

.LogInputForgotPass {

    width: 98%;
    height: 50%;

    border-radius: 6px;
    outline: none;
    border: none;

    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 16px;

    padding-left: 5px;
    color: #1b0424;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.LogInputForgotPass:focus {

    border: none;
    outline: none;

}

.CreateAccountErrorForgotPass {

    width: 100%;
    height: 5%;

    /* background-color: gray; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.CreateErrorForgotPass {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: black; */

}

.ForgotErrorCode {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 20px;

    /* color: red; */
    width: auto;

    height: auto;

    cursor: default;

    text-align: center;

}

.LogInButtonForgotPass {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonForgotPass {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonForgotPass:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION PC ------------------------------------------------------------- */

@media (min-width: 1000px) and (max-width: 1400px) {

.FirstWelcomeTextForgotPass {

    font-size: 2.1vw;

}

.SecondWelcomeTextForgotPass {

    font-size: 1.75vw;

}

}

@media (min-width: 1000px) and (max-width: 1150px) {

 .ForgotErrorCode {

    font-size: 1.75vw;

}

}

/* SECCION TABLET ------------------------------------------------------------- */

@media (min-width: 500px) and (max-width: 999px) {

 .MainLoginForgotPass {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;

}

.BackPickLoginForgotPass {

    grid-column: 2;
    grid-row: 1;

    height: 100%;
    width: 100%;

    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

    overflow: hidden;

}

.LoginPicForgotPass {

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

}

.LoginPanelContainerForgotPass {

    grid-row: 1;
    grid-column: 1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.ForgotInput {

    width: 85%;
    height: 80%;

    /* background-color: blue; */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoForgotPass {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicForgotPass {

    width: 300px;
    height: 100%;

    object-fit: contain;


}

.LogInWelcomeTextForgotPass {

    width: 100%;
    height: 10%;

    /* background-color: white; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.FirstWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

}

.SecondWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

}

.LogInSpanInputForgotPass {

    width: 100%;
    height: 10%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: rgb(238, 232, 232); */


}

.inpuTextForgotPass {

    width: 100%;

    /* background-color: black; */

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 18px;

    padding-left: 5px;
    color: #1b0424;

    cursor: default;

}

.LogInputForgotPass {

    width: 98%;
    height: 50%;

    border-radius: 6px;
    outline: none;
    border: none;

    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 16px;

    padding-left: 5px;
    color: #1b0424;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.LogInputForgotPass:focus {

    border: none;
    outline: none;

}

.CreateAccountErrorForgotPass {

    width: 100%;
    height: 5%;

    /* background-color: gray; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.CreateErrorForgotPass {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: black; */

}

.ForgotErrorCode {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 20px;

    /* color: red; */
    width: auto;

    height: auto;

    cursor: default;

    text-align: center;

}

.LogInButtonForgotPass {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonForgotPass {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonForgotPass:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION TABLET ------------------------------------------------------------- */

@media (min-width: 500px) and (max-width: 750px) {

.FirstWelcomeTextForgotPass {

    font-size: 4vw;

}

.SecondWelcomeTextForgotPass {

    font-size: 3vw;

}

}

@media (min-width: 500px) and (max-width: 600px) {

 .ForgotErrorCode {

    font-size: 3.3vw;

}

}

/* SECCION MOBILE ------------------------------------------------------------- */

@media (max-width: 500px) {

 .MainLoginForgotPass {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}

.BackPickLoginForgotPass {

    display: none;

}

.LoginPicForgotPass {
    
    display: none;

}

.LoginPanelContainerForgotPass {

    grid-row: 1;
    grid-column: 1/ span 2;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.ForgotInput {

    width: 80%;
    height: 80%;

    /* background-color: blue; */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoForgotPass {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicForgotPass {

    width: 300px;
    height: 100%;

    object-fit: contain;


}

.LogInWelcomeTextForgotPass {

    width: 100%;
    height: 10%;

    /* background-color: white; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.FirstWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

}

.SecondWelcomeTextForgotPass {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

}

.LogInSpanInputForgotPass {

    width: 100%;
    height: 10%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: rgb(238, 232, 232); */


}

.inpuTextForgotPass {

    width: 100%;

    /* background-color: black; */

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 18px;

    padding-left: 5px;
    color: #1b0424;

    cursor: default;

}

.LogInputForgotPass {

    width: 98%;
    height: 50%;

    border-radius: 6px;
    outline: none;
    border: none;

    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 16px;

    padding-left: 5px;
    color: #1b0424;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.LogInputForgotPass:focus {

    border: none;
    outline: none;

}

.CreateAccountErrorForgotPass {

    width: 100%;
    height: 5%;

    /* background-color: gray; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.CreateErrorForgotPass {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: black; */

}

.ForgotErrorCode {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 20px;

    /* color: red; */
    width: auto;

    height: auto;

    cursor: default;

    text-align: center;

}

.LogInButtonForgotPass {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonForgotPass {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonForgotPass:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION MOBILE ------------------------------------------------------------- */

@media (max-width: 430px) {

.FirstWelcomeTextForgotPass {

    font-size: 7vw;

}

.SecondWelcomeTextForgotPass {

    font-size: 5vw;

}

 .ForgotErrorCode {

    font-size: 5vw;

}

}

