/* SECCION PC ------------------------------------------------------------- */

@media (min-width: 1000px) {

.MainLoginVerificate {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}

.BackPickLoginVerificate {

    grid-column: 2;
    grid-row: 1;

    height: 100%;
    width: 100%;

    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

    overflow: hidden;

}

.LoginPicVerificate {

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

}

.VerificationPanelContainer {

    grid-row: 1;
    grid-column: 1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.VerificationInput {

    width: 50%;
    height: 80%;

    /* background-color: rgb(250, 250, 250); */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoVerificate {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicVerificate {

    width: 400px;
    height: 100%;

    object-fit: contain;


}

.VerificationWelcomeText {

    width: 100%;
    height: 35%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}

.FirstVerificationText {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

    text-align: center;

}

.SecondVerificationText {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

 text-align:   center;
     
}

.LogInButtonVerificate {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonVerificate {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonVerificate:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION PC ------------------------------------------------------------- */

@media (min-width: 1000px) and (max-width: 1400px) {

 .FirstVerificationText {

    font-size: 2.25vw;

}

.SecondVerificationText {

    font-size: 1.5vw;
     
}

}

/* SECCION TABLET ------------------------------------------------------------- */

@media (min-width: 500px) and (max-width: 999px) {

.MainLoginVerificate {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 100%;

}

.BackPickLoginVerificate {

    grid-column: 2;
    grid-row: 1;

    height: 100%;
    width: 100%;

    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

    overflow: hidden;

}

.LoginPicVerificate {

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

}

.VerificationPanelContainer {

    grid-row: 1;
    grid-column: 1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.VerificationInput {

    width: 80%;
    height: 80%;

    /* background-color: rgb(250, 250, 250); */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoVerificate {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicVerificate {

    width: 300px;
    height: 100%;

    object-fit: contain;


}

.VerificationWelcomeText {

    width: 100%;
    height: 35%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}

.FirstVerificationText {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

    text-align: center;

}

.SecondVerificationText {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

 text-align:   center;
     
}

.LogInButtonVerificate {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonVerificate {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonVerificate:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION TABLET ------------------------------------------------------------- */

@media (min-width: 500px) and (max-width: 800px) {

 .FirstVerificationText {

    font-size: 20px;

}

.SecondVerificationText {

    font-size: 15px;
     
}

}

/* SECCION MOBILE ------------------------------------------------------------- */

@media (max-width: 500px) {

.MainLoginVerificate {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}

.BackPickLoginVerificate {

 display: none

}

.LoginPicVerificate {

 display: none

}

.VerificationPanelContainer {

    grid-row: 1;
    grid-column: 1/ span 2;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.VerificationInput {

    width: 80%;
    height: 80%;

    /* background-color: rgb(250, 250, 250); */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogoVerificate {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPicVerificate {

    width: 300px;
    height: 100%;

    object-fit: contain;


}

.VerificationWelcomeText {

    width: 100%;
    height: 35%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}

.FirstVerificationText {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

    text-align: center;

}

.SecondVerificationText {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

 text-align:   center;
     
}

.LogInButtonVerificate {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButtonVerificate {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButtonVerificate:hover {

     background-color: rgb(71, 17, 92);

}

}

/* FIX SECCION MOBILE ------------------------------------------------------------- */

@media (max-width: 450px) {

 .FirstVerificationText {

    font-size: 7.2vw;

}

.SecondVerificationText {

    font-size: 4.75vw;
     
}

}
