.MainLogin {

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}

.BackPickLogin {

    grid-column: 2;
    grid-row: 1;

    height: 100%;
    width: 100%;

    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;

    overflow: hidden;

}

.LoginPic {

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

}

.VerificationPanelContainer {

    grid-row: 1;
    grid-column: 1;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.VerificationInput {

    width: 50%;
    height: 80%;

    /* background-color: rgb(250, 250, 250); */

    /* pasarlo a white al final */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.LogInLogo {

    width: 100%;
    height: 15%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInLogoPic {

    width: 85%;
    height: 100%;

    object-fit: contain;


}

.VerificationWelcomeText {

    width: 100%;
    height: 17.5%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

}

.FirstVerificationText {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    /* padding-left: 5px; */
    color: #1b0424;

    cursor: default;

    text-align: center;

}

.SecondVerificationText {

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
    /* padding-left: 5px; */
    color: #263849;
    opacity: 0.97;

        cursor: default;

 text-align:   center;
     
}

.LogInSpanInput {

    width: 100%;
    height: 10%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    /* background-color: rgb(238, 232, 232); */


}

.inpuText {

    width: 100%;

    /* background-color: black; */

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 18px;

    padding-left: 5px;
    color: #1b0424;

    cursor: default;

}

.LogInput {

    width: 98%;
    height: 50%;

    border-radius: 6px;
    outline: none;
    border: none;

    font-family: "Sofia Sans";
    font-weight: 400;
    font-size: 16px;

    padding-left: 5px;
    color: #1b0424;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

}

.LogInput:focus {

    border: none;
    outline: none;

}

.CreateAccountError {

    width: 100%;
    height: 5%;

    /* background-color: gray; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.CreateError {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: black; */

}

.CreateErrorCode {

    font-family: "Sofia Sans";
    font-weight: 700;
    font-size: 20px;

    color: red;
    width: auto;

    height: auto;

    cursor: default;

}

.LogInButton {

    width: 100%;
    height: 7.5%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.LogInEmailPassButton {

    width: 100%;
    height: 100%;
    background-color: #1b0424;
    color: white;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}

.LogInEmailPassButton:hover {

     background-color: rgb(71, 17, 92);

}

.LogInGoogleButton {

    width: 100%;
    height: 100%;
    background-color: #fafafa;
    color: #1b0424;

    font-family: "Sofia Sans";
    font-weight: 500;
    font-size: 16px;

    border: none;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.googleLogo {

 width: 30px;
 height: 30px;

 object-fit: cover;
 margin-right: 7.5px;

}

.LogInGoogleButton:hover {

     background-color: #eeeaea;


}

.LogInCreateAccount {

 width: 100%;
 height: 10%;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.createFirstText {

 color: #263849;
 cursor: default;
 font-weight: 600;

}

.createSecondText {

 cursor: pointer;
 font-weight: 700;
 margin-top: 7.5px;

}

.createSecondText:hover {

 text-decoration: underline;

}

.createFirstText, .createSecondText {

    font-family: "Sofia Sans";
    font-size: 18px;

}