.MainVehicles {


    width: 100vw;
    /* height: 100vh; */

    background-color: #fafafa;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 10vh 65vh;


    /* PARTE DEL SEGUNDO FIX, HEIGHT DEBERIA ESTAR SIN COMMENT Y GRID ROW 25% 10% 65% Y VEHICLES TYPES SIN PADDING BOTTOM Y VehicleTypeSelectorContainer SIN PADDING TOP */

}

.VehiclesTypes {

    grid-column: 1/span 2;
    grid-row: 1;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-bottom: 0.4%;

}

.VehiclesTypesTittle {

    width: 100%;
    height: 20%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Sofia Sans", Arial;
    font-weight: 350;
    font-size: 1.5vw;
    color: #1b0424;

    cursor: default;

}

.VehicleTypeSelectorContainer {

    width: 100%;
    height: 80%;
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* el align solia ser start  UNICA PARTE DEL PRIMER FIX */

    padding-top: 0.5%;

}

.VehicleSelectorInstance {

    width: 9.5%;
    height: 9.5vw;
    background: #1b0424;
    border-radius: 50%;
    border: solid 2.5px #1b0424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    cursor: pointer;

    position: relative;

}

.VehicleSelectorInstanceCancelButton {

    height: 2.375vw;
    width: 25%;
    background: rgb(255, 255, 255);

    border: solid 2.5px #1b0424;
    border-radius: 50%;

    cursor: pointer;

    top: 0px;
    left: 0px;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

}

.VehicleSelectorInstanceCancelButton:hover {

    animation: HoverAnimnCarCancelButtonSelectorButton 0.5s forwards;

}

.TypeCancelButton {

    /* color: #1b0424; */
    font-weight: 400;
    font-size: 1.25vw;

}


.TextVehicleSelector {

    /* color: white; */
    font-family: "Sofia Sans", Arial;
    font-weight: 350;
    font-size: 1.6vw;
    /* background-color: red; */
    position: absolute;
    margin-bottom: 3.5vw;

}

.VehicleSelectorInstance:hover {

    animation: HoverAnimnCarSelectorButton 0.5s forwards;

    .PicVehicleSelector {

        animation: HoverAnimnCarSelectorButtonPic 0.5s forwards;

    }

}

@keyframes HoverAnimnCarSelectorButton {

    0% {
        background-color: #1b0424;
        color: white;

    }

    100% {
        background-color: white;
        color: rgb(27, 4, 36);
    }

}

@keyframes HoverAnimnCarSelectorButtonPic {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.9;
    }


}

@keyframes HoverAnimnCarCancelButtonSelectorButton {

    0% {

        background-color: white;
        color: rgb(27, 4, 36);
    }

    100% {
        background-color: #1b0424;
        color: white;
    }

}


.PicVehicleSelector {

    width: 130%;
    height: 130%;
    object-fit: contain;

    /* background: rgb(0, 0, 255,0.1); */
    margin-top: 5vw;
    margin-right: 1.75vw;

}

.SpanBrandVehicles {

    margin-left: 10px;
    margin-right: 10px;

}

.SeparatorVehicles {

    width: 45%;
    height: 3px;
    background-color: #1b0424;


}

.VehiclesFilter {

    grid-column: 1/ span 2;
    grid-row: 2;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;

}

.VehiclesFilterMenu {

    width: 99%;
    height: 85%;
    background-color: white;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* solia ser start */

    align-items: center;

}

.VehiclesFilterBrandApart,
.VehiclesFilterModelApart,
.VehiclesFilterYearApart,
.VehiclesFilterMileageApart,
.VehiclesFilterPriceApart {

    height: 100%;
    width: 12.5%;
    color: #1b0424;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    padding-left: 0.75vw;
    padding-top: 0.3vw;

}

.VehiclesFilterResetButtonApart {

    width: 10%;
    /* background-color: green; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.FilterResetButton {

    background-color: #f3f7fe;
    /* color: #3b82f6; */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 70%;
    height: 50%;
    transition: 0.3s;

    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-weight: 600;
    font-size: 0.8vw;


}

.FilterResetButton:hover {
    background-color: #1b0424;
    box-shadow: 0 0 0 5px #a4a2a5;
    color: #fff;
}

.VehicleFilterText {

    font-family: "Sofia Sans", Arial;
    font-weight: 500;
    font-size: 1vw;

}

.VehicleFilterSelector {

    width: 80%;
    height: 25%;

    margin-bottom: 1.3vh;

    border: 1.5px solid #1b0424;
    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.75vw;
    font-weight: 600;

}

.VehicleFilterSelectorReactSelect {

    width: 80%;
    height: 25%;

    margin-bottom: 1.3vh;

    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.5vw;
    font-weight: 600;


}

.SelectModel__control.SelectModel__control {

    min-height: 0;
    height: 120%;

    padding-top: 0px;
    align-items: start;
    flex-wrap: nowrap;

}

.SelectModel__control.SelectModel__control--is-focused {

    box-shadow: none;
    border-color: #ccc;

}

.SelectModel__control.SelectModel__control:hover {
    border-color: #ccc;
    box-shadow: none;
}

.SelectModel__value-container.SelectModel__value-container {


    height: 100%;

    padding: 0px 8px;
    font-size: 0.8vw;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;


    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.75vw;
    font-weight: 600;


}

.SelectModel__option.SelectModel__option {

    font-size: 0.7vw;
    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-weight: 600;

}

.SelectModel__option.SelectModel__option--is-selected {
    background-color: #1b0424;
    /* 👈 color que quieras */
    color: #fff;
}




/* .SelectModel__control {


  width: 80%;
 height: 25%;

 margin-bottom: 1.3vh;

 border: 1.5px solid #1b0424; 
 color: #1b0424;
 font-family: "Sofia Sans", Arial;
 font-size: 0.75vw;
 font-weight: 600;



} */

.VehicleFilterSelector:focus {
    outline: none;
    border-color: #1b0424;
}


.ContainerDoubleSelect {

    width: 100%;
    height: 30%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    position: relative;
}

.VehicleFilterTextB {

    font-family: "Sofia Sans", Arial;
    font-weight: 500;
    font-size: 0.9vw;
    color: #1b0424;

    width: 30%;

}

.VehicleFilterSelectorB {

    width: 50%;
    height: 80%;

}

.VehicleFilterSelectorReactSelectB {


    width: 60%;
    height: 70%;

    margin-bottom: 1.3vh;

    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.5vw;
    font-weight: 600;

}

.VehicleFilterInput {

    width: 60%;
    height: 80%;

    box-sizing: border-box;
    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.5vw;
    font-weight: 600;

    background-color: #fff;

    border: 1px solid #ccc;
    border-radius: 4px;

    outline: none;
    box-shadow: none;

    color: #1b0424;
    font-family: "Sofia Sans", Arial;
    font-size: 0.8vw;
    font-weight: 600;

}

.ResetButtonInputContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    position: absolute;
    right: 1.5vw;
    height: 80%;
}

.ResetButtonInputs {

    font-size: 1vw;
    cursor: default;
    color: #999;


}

.ResetButtonInputs:hover {
    color: #333;
}

.VehiclesCatalogue {

    grid-column: 1/ span 2;
    grid-row: 3;
    /* background-color: purple; */

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 92.5% 7.5%;

}

.VehicleCatalogueContainer {

    grid-row: 1;
    grid-column: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: start;


    flex-wrap: wrap;
    overflow: hidden;


    /* SOLO PARA TESTING */


}

.CataloguePost {

    width: 25%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.CalaloguePostBox {

    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.PostPic {

    width: 100%;
    height: 55%;

    /* background-image: url("./DodgeHead.png"); */
    background-size: cover;

    /* solia ser contain */

    background-repeat: no-repeat;
    background-position: center;

    /* border-bottom: 3px black solid; */

}

.PostName {

    width: 100%;
    height: 8%;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;

    color: black;
    font-family: "Jost", sans-serif;
    font-size: 1.3vw;
    font-weight: 400;

    padding-left: 0.5vw;

      cursor: default;

}

.PostKMS {


    width: 100%;
    height: 5%;
    /* background-color: yellow; */
    display: flex;
    justify-content: start;
    align-items: start;

    color: #606470;
    font-family: "Jost", sans-serif;
    font-size: 0.9vw;
    font-weight: 400;

    padding-left: 0.5vw;

    display: flex;
    justify-content: start;
    align-items: center;

      cursor: default;

}

.KmsText {

    margin-left: 0.2vw;
    margin-top: 0.1vw;

}

.PostTypeFilter {

    width: 100%;
    height: 10%;
    /* background-color: red; */

    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 0.5vw;

      cursor: default;

}

.PostTypeFilterContainer {

    background-color: #e7eaf6;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606470;
    font-family: "Jost", sans-serif;
    font-size: 0.9vw;
    font-weight: 600;
    border-radius: 5PX;

}

.PostMainCharacteristics {


    height: 7.5%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    color: #595b5e;
    font-family: "Jost", sans-serif;
    font-size: 1vw;
    font-weight: 500;

      cursor: default;

}

.TransmisionInfo,
.EngineInfo {

    margin-left: 0.75vw;
    width: auto;
    /* background-color: red;   */

    display: flex;
    justify-content: start;
    align-items: center;

}

.InternInfoFix {

    margin-left: 0.25vw;
    margin-top: 0.1vw;

}

.PostActionSection {

    height: 14.5%;
    /* background-color: red; */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;

}

.PostPrice {

    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1b0424;
    font-family: "Jost", sans-serif;
    font-size: 1.3vw;
    font-weight: 500;

    /* margin-bottom: vw; */
    /* background-color: red; */

      cursor: default;

}

.PostActionButton {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* margin-top: 0.8vw; */

}

.BuyNowButton {

    background-color: #1b0424;
    /* color: #3b82f6; */
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 85%;
    height: 60%;
    transition: 0.3s;

    color: white;
    font-family: "Sofia Sans", Arial;
    font-size: 0.8vw;
    font-weight: 600;

}

.BuyNowButton:hover {
    background-color: #1b0424;
    box-shadow: 0 0 0 5px #cdc9cf;
    color: #fff;
}

.NoAvailableOptionsSign {

    width: 100%;
    height: 100%;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.NoOptionsAvailableText {

    color: #1b0424;
    opacity: 0.25;
    font-family: "Sofia Sans", Arial;
    font-size: 2vw;
    font-weight: 500;

}

.NoOptionsAvailablePic {

    width: 20%;
    height: 40%;
    background-image: url("./noOptions.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: red; */
    background-position: center;
    color: #1b0424;
    opacity: 0.25;

}

.VehicleCatalogueButtons {

    grid-row: 2;
    grid-column: 1;
    /* background-color: beige; */

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

}

.CatalogueButtonsContainer {

    width: 20%;
    height: 100%;

    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.CatalogueArrow {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;

    background-color: #1b0424;
    color: white;
    cursor: pointer;

    border: 2px solid #1b0424;

}

.ArrrowAsText {

    font-size: 2.6vh;
    font-weight: 400;

}

.CatalogueNumbers {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Sofia Sans", Arial;
    font-weight: 500;

}

.MainNumberCatalogue {

    font-size: 2.75vh;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    cursor: default;

}

.SecondaryNumberCatalogue {

    font-size: 2vh;
    margin-left: 2px;
    margin-right: 2px;
    opacity: 0.75;
    cursor: pointer;

}

.SecondaryNumberCatalogue:hover {

    opacity: 1;
    font-size: 2.25vh;
    margin-bottom: 3px;

}

.CatalogueArrow:hover {

    animation: HoverAnimnSliderButtonCatalogue 0.5s forwards;

}

@keyframes HoverAnimnSliderButtonCatalogue {

    0% {
        background-color: #1b0424;
        color: white;

    }

    100% {
        background-color: white;
        color: #1b0424;
    }

}